{% extends 'base.html' %}

{% block content %}
<div class="collection-page container">
	<div class="section">
		<div id="add-row" class="row hide">
			<div class="col s9 m6">
				<input type="text" id="add-row-search">
			</div>
			<div class="col s3 m2">
				<a class="btn bg-secondary">Add</a>
			</div>
			<div class="col s9 m2 l1">
				<a class="btn bg-secondary modal-trigger" href="#upload_modal"><i class="material-icons">file_upload</i></a>
			</div>
			<div class="col s3 m2 l2 offset-l1">
				<a class="btn btn-flat bg-secondary" id="add-row-hide">Back</a>
			</div>
		</div>

		<div id="search-row" class="row">
			<div class="col s9 m6">
				<input type="text" id="search-row-search">
			</div>
			<div class="col s3 m2">
				<a class="btn bg-secondary" id="search-row-button">Search</a>
			</div>
			<div class="col s6 m2 l1 offset-l2">
				<a class="btn bg-secondary modal-trigger" href="#filter_modal"><i class="material-icons">filter_list</i></a>
			</div>
			<div class="col s6 m2 l1">
				<a class="btn bg-secondary" id="add-row-show"><i class="material-icons">add</i></a>
			</div>
		</div>

		<div id="search-results" class="row hide">
			<div class="col s6">
				<div class="card">
					<div class="card-content">
						<table class="highlight">
							<tbody id="search-results-list">
							</tbody>
						</table>
					</div>
					<div class="card-action">
						<a id="search-results-dismiss">Cancel</a>
					</div>
				</div>
			</div>
		</div>

		<div id="filter-chips" class="row hide"></div>

		<div id="upload_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Upload CSV</h4>
				<div id="upload_loading"></div>

				<div class="file-field input-field">
					<div class="btn bg-secondary">
						<span>File</span>
						<form enctype="multipart/form-data" method="post" name="upload_form">
							<input type="file" accept="text/csv" name="upload">
						</form>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat bg-secondary" id="upload_btn">Submit</a>
			</div>
		</div>

		<div id="filter_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Filters</h4>

				 <div class="input-field col s12 m6">
					<select class="icons" id="filter_set">
					</select>
				</div>

				 <div class="input-field col s12 m6">
					<select class="icons" id="filter_rarity">
						<option value="" disabled selected>Filter by Rarity</option>
						<option value="C" data-icon="{{ url_for('static', filename='images/common.png') }}">Common</option>
						<option value="U" data-icon="{{ url_for('static', filename='images/uncommon.png') }}">Uncommon</option>
						<option value="R" data-icon="{{ url_for('static', filename='images/rare.png') }}">Rare</option>
						<option value="M" data-icon="{{ url_for('static', filename='images/mythic.png') }}">Mythic</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat bg-secondary" id="filter_btn">Submit</a>
			</div>
		</div>

		<!-- <div id="edit_modal" class="modal fade">
			<div class="modal-content">
				<h4>Edit</h4>

				<div class="row">
					<div class="col s6">
						<img class="responsive-img" src="https://img.scryfall.com/cards/large/en/isd/165a.jpg?1518206105">
					</div>

					<div class="col s6">
						<h5>Tormented Pariah</h5>

						<input type="number">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<a class="btn-flat bg-secondary">Save</a>
			</div>
		</div> -->

		<img id="view_box" class="materialboxed hide">

		<div class="row">
			<table class="highlight">
				<thead id="collection_head" class="hide">
					<tr>
						<th class="sort-head valign-wrapper" data-sort_col="name">Card <i class="material-icons">keyboard_arrow_up</i></th>
						<th class="sort-head" data-sort_col="setname">Set</th>
						<th class="sort-head" data-sort_col="rarity">Rarity</th>
						<th class="sort-head" data-sort_col="quantity">Qty</th>
						<th class="sort-head" data-sort_col="foil">Foil</th>
						<th class="sort-head" data-sort_col="price">Price</th>
					</tr>
				</thead>
				<tbody id="collection_list"></tbody>
			</table>
		</div>

		<div class="row">
			<div id="collection_pagination" class="col s12 m6">
			</div>
			<div id="collection_total" class="col s12 m6 right-align">
			</div>
		</div>

	</div>

	<br><br>
</div>
{% endblock %}

{% block handlebars %}
	{% raw %}
	<script id="filtersets-template" type="text/x-handlebars-template">
		<option value="" disabled selected>Filter by Set</option>
		{{#each sets}}
		<option value="{{id}}" data-icon="{{iconurl}}">{{name}}</option>
		{{/each}}
	</script>

	<script id="collection-template" type="text/x-handlebars-template">
		{{#each cards}}
		<tr data-image="{{imageurl}}">
			<td class="card-name">
				{{name}}
				<span class="card-hover-img"></span>
			</td>
			<td class="valign-wrapper">
				<img class="set-icon" src="{{iconurl}}">
				<span class="hide-on-small-only">{{setname}}</span>
			</td>
			<td>{{rarity}}</td>
			<td>{{quantity}}</td>
			<td><i class="material-icons">{{#if foil}}check_box{{else}}check_box_outline_blank{{/if}}</i></td>
			<td>{{#if price}}{{price}} {{currencycode}}{{/if}}</td>
			{{!--<td class="hide"><a class="btn disabled edit-card"><i class="material-icons">edit</i></a></td>--}}
		<tr>
		{{/each}}
	</script>

	<script id="hover-template" type="text/x-handlebars-template">
		<div class="card-panel card-hover" style="top: {{vert_pos}}px; left: {{horiz_pos}}px;">
			<img class="responsive-img" src="{{image_url}}">
		</div>
	</script>

	<script id="collectiontotal-template" type="text/x-handlebars-template">
		<span class="badge new bg-tertiary" data-badge-caption="cards">{{total}}</span>
	</script>

	<script id="search-template" type="text/x-handlebars-template">
		{{#each results}}
		<tr>
			<td>{{name}}</td>
			<td class="blue-grey-text text-lighten-3">{{setname}}</td>
			<td class="valign-wrapper"><img class="set-icon" src="{{iconurl}}"></td>
		</tr>
		{{/each}}
	</script>

	<script id="filterchip-template" type="text/x-handlebars-template">
		{{#each filters}}
		<div class="chip">
			<input id="{{key}}_value" data-orig="#{{key}}" value="{{value}}" hidden>
			<img class="{{#isEqual key 'filter_set'}}set-icon{{/isEqual}}" src="{{icon}}">{{label}}<i class="close material-icons filter-remove">close</i>
		</div>
		{{/each}}
	</script>
	{% endraw %}
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		get_sets();
		get_collection();

		$('#filter_rarity').formSelect();
	});

	function get_sets() {
		$.ajax({
			url: "{{ url_for('get_sets') }}",
			method: "GET"
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				compile_handlebars('filtersets-template', '#filter_set', data);
				$('#filter_set').formSelect();
			}
		}).fail(function(jqXHR) {
			if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred getting sets. Please try again later."});
		});
	}

	var search_req;
	var current_page = 1;
	var sort = 'name';
	var sort_desc = 'asc';
	function get_collection() {
		if (search_req) search_req.abort();
		$('#collection_head').addClass('hide');
		show_loading($('#collection_list'));
		$('#collection_pagination, #collection_total').empty();

		search_req = $.ajax({
			url: "{{ url_for('get_collection') }}",
			method: "GET",
			data: {
				'page': current_page,
				'sort': sort,
				'sort_desc': sort_desc,
				'filter_search': $('#search-row-search').val(),
				'filter_set': $('#filter_set_value').val(),
				'filter_rarity': $('#filter_rarity_value').val()
			}
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				$('#collection_head').removeClass('hide');
				compile_handlebars('collection-template', '#collection_list', data);

				$('.card-name').hover(function() {
					var image_url = $(this).closest('tr').data()['image'];
					var vert_pos = $(this).position().top - $(this).height() - 75;
					var horiz_pos = $(this).position().left + $(this).width();
					compile_handlebars('hover-template', $(this).find('.card-hover-img'), {
						'vert_pos': vert_pos,
						'horiz_pos': horiz_pos,
						'image_url': image_url
					});
					$('#view_box').attr('src', image_url);
				}, function() {
					$('.card-hover').remove();
				});

				$('.card-name').on('click', function() {
					M.Materialbox.getInstance($('#view_box')).open();
				});

				$('.edit-card').on('click', function() {
					M.Modal.getInstance($('#edit_modal')).open();
				});

				generate_pagination($('#collection_pagination'), data.count);
				compile_handlebars('collectiontotal-template', '#collection_total', data);
			}
		}).fail(function(jqXHR) {
			if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred getting collection. Please try again later."});
		});
	}

	$('.sort-head').on('click', function() {
		sort = $(this).data()['sort_col'];
		if ($(this).hasClass('valign-wrapper')) {
			if (sort_desc == 'asc') sort_desc = 'desc';
			else sort_desc = 'asc';
		} else {
			sort_desc = 'asc';
		}

		// Reset sort classes etc
		$('.sort-head').removeClass('valign-wrapper').find('.material-icons').remove();

		$(this).addClass('valign-wrapper').append('<i class="material-icons"></i>');
		if (sort_desc === 'asc') $(this).find('.material-icons').html('keyboard_arrow_up');
		else $(this).find('.material-icons').html('keyboard_arrow_down')

		get_collection();
	});

	document.addEventListener('DOMContentLoaded', function() {
		M.Materialbox.init(document.querySelectorAll('#view_box'), {
			onOpenStart: function() { $('#view_box').removeClass('hide'); },
			onCloseStart: function() { $('#view_box').addClass('hide'); }
		});
	});

	var search_timer;
	$('#search-row-search').on('keyup', function() {
		current_page = 1;
		if ($(this).val().length >= 3 || $(this).val().length == 0) {
			clearTimeout(search_timer);
			search_timer = setTimeout(function() {
				$('#search-row-button').click();
			}, 250);
		}
	});

	$('#search-row-button').on('click', function() {
		get_collection();
	});

	$('#add-row-show').on('click', function() {
		$('#add-row').removeClass('hide');
		$('#search-row').addClass('hide');
	});

	$('#add-row-hide').on('click', function() {
		$('#add-row').addClass('hide');
		$('#search-row').removeClass('hide');
		$('#search-results-dismiss').click();
	});

	var add_search_req;
	var add_search_timer;
	$('#add-row-search').on('keyup', function() {
		if ($(this).val().length >= 3 || $(this).val().length == 0) {
			var query = $(this).val()
			clearTimeout(add_search_timer);
		    add_search_timer = setTimeout(function() {
				if (add_search_req) add_search_req.abort();
				add_search_req = $.ajax({
					url: "{{ url_for('search') }}",
					method: "GET",
					data: { 'query':query }
				}).done(function(data) {
					$('#search-results').removeClass('hide');
					compile_handlebars('search-template', '#search-results-list', data);
				}).fail(function(jqXHR) {
					if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred. Please try again later."});
				});
		    }, 250);
		}
	});

	$('#search-results-dismiss').on('click', function() {
		$('#search-results').addClass('hide');
		$('#search-results-list').empty();
	});

	$('#upload_btn').on('click', function() {
		show_loading($('#upload_loading'));
		var form = document.forms.namedItem('upload_form');
		var formdata = new FormData(form);

		var upload_req = new XMLHttpRequest();
		upload_req.open("POST", "{{ url_for('csv_upload') }}", true);
		upload_req.onload = function(oEvent) {
			$('#upload_loading').empty();
			if (upload_req.status == 200) {
				M.Modal.getInstance($('#upload_modal')).close();
				M.toast({html: "Successfully Uploaded"});
				get_collection();
			} else {
				M.toast({html: "An internal error occurred. Please try again later."});
			}
		};

		upload_req.send(formdata);
	});

	$('#filter_btn').on('click', function() {
		var filters = [];
		$('#filter_modal select').each(function() {
			if ($(this).val()) {
				var filter_key = $(this).attr('id');
				var selected = $(this).find('option:selected');
				filters.push({
					'key': filter_key,
					'value': selected.attr('value'),
					'label': selected.text(),
					'icon': selected.attr('data-icon')
				});
			}
		});

		compile_handlebars('filterchip-template', '#filter-chips', {'filters': filters});

		if ($('#filter-chips .chip').length === -1) $('#filter-chips').addClass('hide');
		else $('#filter-chips').removeClass('hide');

		M.Modal.getInstance($('#filter_modal')).close();
		get_collection();
	});

	$(document).on('click', '.filter-remove', function() {
		var chip = $(this).closest('.chip');
		console.log(chip.find('input').data().orig);
		$(chip.find('input').data().orig).val('').formSelect();
		chip.remove();
		if ($('#filter-chips .chip').length <= 0) $('#filter-chips').empty().addClass('hide');
		get_collection();
	});

	function generate_pagination(elem, count) {
		var page_str = '<ul id="extra-pages-before" class="dropdown-content"></ul>\
						<ul id="extra-pages-after" class="dropdown-content"></ul>\
						<ul class="pagination">';
		if (current_page > 1) page_str += '<li><a class="first-page"><i class="material-icons">first_page</i></a></li>';
		if (current_page > 1) page_str += '<li><a class="prev-page"><i class="material-icons">chevron_left</i></a></li>';
		var max_back = 3;
		var max_forward = 4;
		if (current_page - max_back > 1) page_str += '<li><a class="dropdown-trigger" data-target="extra-pages-before">...</a></li>';
		for (var i = current_page - max_back; i < current_page; i++) {
			if (i > 0) page_str += '<li><a class="page">'+i+'</a></li>';
		}
		page_str += '<li class="active bg-tertiary"><a class="page">'+i+'</a></li>';
		for (var i = current_page + 1; i < current_page + max_forward; i++) {
			if (i <= count) page_str += '<li><a class="page">'+i+'</a></li>';
		}
		if (current_page + max_forward < count) page_str += '<li><a class="dropdown-trigger" data-target="extra-pages-after">...</a></li>';
		if (current_page < count) page_str += '<li><a class="next-page"><i class="material-icons">chevron_right</i></a></li>';
		if (current_page < count) page_str += '<li><a class="last-page"><i class="material-icons">last_page</i></a></li>'
		page_str += '</ul>';
		elem.html(page_str);

		var extra_before_html = '';
		var extra_after_html = '';
		for (var i = 1; i <= count; i++) {
			if (i < current_page - max_back) extra_before_html += '<li><a class="page">'+i+'</a></li>';
			if (i >= current_page + max_forward) extra_after_html += '<li><a class="page">'+i+'</a></li>';
		}

		elem.find('#extra-pages-before').html(extra_before_html);
		elem.find('#extra-pages-after').html(extra_after_html);

		elem.off('click');
		elem.on('click', '.first-page', function() {
			current_page = 1;
			get_collection();
		});
		elem.on('click', '.prev-page', function() {
			current_page--;
			get_collection();
		});
		elem.on('click', '.next-page', function() {
			current_page++;
			get_collection();
		});
		elem.on('click', '.last-page', function() {
			current_page = count;
			get_collection();
		});

		var elems = document.querySelectorAll('.dropdown-trigger');
		var instances = M.Dropdown.init(elems, { 'container':$('body') });
	}

	$(document).on('click', '.page', function() {
		current_page = parseInt($(this).text());
		get_collection();
	});
</script>
{% endblock %}