{% extends 'base.html' %}

{% block content %}
<div class="decks-page container">
	<div class="section">
		<div id="list-row" class="row">
			<div class="show-deleted col s6 m3 offset-s4 offset-m7">
				<label>
					<input type="checkbox" id="deleted">
					<span>Show Deleted</span>
				</label>
			</div>
			<div class="col s2">
				<a class="btn bg-secondary modal-trigger" href="#upload_modal"><i class="material-icons">file_upload</i></a>
			</div>
		</div>

		<div id="edit-row" class="row hide">
			<div class="col s3">
				<a class="btn bg-secondary" id="edit-row-hide">Decks</a>
			</div>
		</div>

		<div id="upload_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Upload CSV</h4>
				<div id="upload_loading"></div>

				<div class="file-field input-field">
					<div class="btn bg-secondary">
						<span>File</span>
						<form enctype="multipart/form-data" method="post" name="upload_form">
							<input type="file" accept="text/csv" name="upload">
						</form>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat bg-secondary" id="upload_btn">Submit</a>
			</div>
		</div>

		<div id="deck-menu" class="row">
		</div>

		<div id="deck-details" class="row hide">
			<div class="deck-info"></div>
			<div class="deck-contents"></div>
		</div>
	</div>

	<br><br>
</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		get_decks();
	});

	function get_decks() {
		var data = {};
		data['deleted'] = ($('#deleted').prop('checked')) ? 1 : 0;
		$.ajax({
			url: "{{ url_for('decks_get_all') }}",
			method: "GET",
			data: data
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				$('#edit-row, #deck-details').addClass('hide');
				$('#list-row, #deck-menu').removeClass('hide');
				var html_str = '';
				for (var i = 0; i < data.results.length; i++) {
					var d = data.results[i];
					html_str += '<div class="col s12 m4 l3">\
									<div class="card">\
										<div class="card-image">\
											<div class="card-image-container">\
												<img src="'+escapeHTML(d.arturl)+'">\
											</div>\
											<a class="btn-floating halfway-fab bg-tertiary edit-deck" data-deckid="'+escapeHTML(d.id)+'">\
												<i class="material-icons">edit</i>\
											</a>\
										</div>\
										<div class="card-content">\
											<span class="card-title">'+escapeHTML(d.name)+'</span>\
										</div>\
									</div>\
								</div>';
				}
				$('#deck-menu').html(html_str);

				$('.edit-deck').on('click', function() {
					show_details($(this).data().deckid);
				});
			}
		}).fail(function(jqXHR) {
			if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred getting dekcs. Please try again later."});
		});
	}

	function show_details(deckid) {
		$('#list-row, #deck-menu').addClass('hide');
		$('#edit-row, #deck-details').removeClass('hide');

		$.ajax({
			url: "{{ url_for('decks_get') }}",
			method: "GET",
			data: {'deckid': deckid}
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				show_cards(deckid);
				var html_str = '';

				$('#deck-details .deck-info').html(html_str);
			}
		}).fail(function(jqXHR) {
			if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred getting deck. Please try again later."});
		});
	}

	function show_cards(deckid) {
		$.ajax({
			url: "{{ url_for('decks_get_cards') }}",
			method: "GET",
			data: {'deckid': deckid}
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				var html_str = '';

				$('#deck-details .deck-contents').html(html_str);
			}
		}).fail(function(jqXHR) {
			if (!ajax_user_aborted(jqXHR)) M.toast({html: "An internal error occurred getting deck. Please try again later."});
		});
	}

	$('#deleted').on('change', get_decks);

	$('#edit-row-hide').on('click', function() {
		get_decks();
	});

	$('#upload_btn').on('click', function() {
		show_loading($('#upload_loading'));
		var form = document.forms.namedItem('upload_form');
		var formdata = new FormData(form);

		var upload_req = new XMLHttpRequest();
		upload_req.open("POST", "{{ url_for('decks_import') }}", true);
		upload_req.onload = function(oEvent) {
			$('#upload_loading').empty();
			if (upload_req.status == 200) {
				M.Modal.getInstance($('#upload_modal')).close();
				M.toast({html: "Successfully Uploaded"});
				get_decks();
			} else {
				M.toast({html: "An internal error occurred. Please try again later."});
			}
		};

		upload_req.send(formdata);
	});
</script>
{% endblock %}