{% extends 'base.html' %}

{% block handlebars %}
	{{ super() }}

	{% raw -%}
	<script id="deck-template" type="text/x-handlebars-template">
		{{#each results}}
		<div class="col s12 m4 l3">
			<div class="card">
				<div class="card-image">
					<div class="card-image-container">
						<img src="{{arturl}}">
					</div>
					<a class="btn-floating halfway-fab bg-tertiary edit-deck" data-deckid="{{id}}">
						<i class="material-icons">edit</i>
					</a>
				</div>
				<div class="card-content">
					<div class="deck-name">{{name}}</div>
					<div class="deck-format">{{formatname}}</div>
				</div>
			</div>
		</div>
		{{/each}}
	</script>

	<script id="editdeck-template" type="text/x-handlebars-template">
		<div class="row">
			<div class="col s3">
				<img class="responsive-img" src="{{deck.arturl}}">
			</div>
			<div class="col s9">
				<div class="row">
					<div class="col s2">
						<a class="btn bg-secondary" id="deck-back"><i class="material-icons">arrow_back</i></a>
					</div>
					<div class="col s2 offset-s6">
						<a class="btn bg-secondary" id="deck-save"><i class="material-icons">save</i></a>
					</div>
					<div class="col s2">
						<a class="btn bg-secondary hide" id="deck-delete"><i class="material-icons">delete</i></a>
						<a class="btn bg-secondary hide" id="deck-restore"><i class="material-icons">refresh</i></a>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6">
						<input type="text" value="{{deck.name}}" id="edit-deck-name">
					</div>
					<div class="col s12 m6">
						<select id="edit-deck-format">
							{{#each formats}}
							<option value="{{id}}" {{#isEqual id ../deck.formatid}}selected{{/isEqual}}>{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="list-main" class="col s12 m6">
				<div class="list-heading">Main</div>
				{{#each cards}}
					{{#isEqual section 'main'}}
					{{name}} (Own {{has_quantity}} of {{quantity}})<br>
					{{/isEqual}}
				{{/each}}
			</div>
			<div id="list-sideboard" class="col s12 m6">
				<div class="list-heading">Sideboard</div>
				{{#each cards}}
					{{#isEqual section 'sideboard'}}
					{{name}} ({{Own has_quantity}} of {{quantity}})<br>
					{{/isEqual}}
				{{/each}}
			</div>
		</div>
	</script>
	{%- endraw %}
{% endblock %}

{% block content %}
<div class="decks-page container">
	<div class="section">
		<div id="list-row" class="row">
			<div class="show-deleted col s6 m3 offset-s4 offset-m7">
				<label>
					<input type="checkbox" id="deleted">
					<span>Show Deleted</span>
				</label>
			</div>
			<div class="col s2">
				<a class="btn bg-secondary modal-trigger" href="#upload_modal"><i class="material-icons">file_upload</i></a>
			</div>
		</div>

		<div id="upload_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Upload CSV</h4>
				<div id="upload_loading"></div>

				<div class="file-field input-field">
					<div class="btn bg-secondary">
						<span>File</span>
						<form enctype="multipart/form-data" method="post" name="upload_form">
							<input type="file" accept="text/csv" name="upload">
						</form>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat bg-secondary" id="upload_btn">Submit</a>
			</div>
		</div>

		<div id="deck-menu" class="row">
		</div>

		<div id="deck-details" class="hide">
			<div class="row deck-info"></div>
			<div class="row deck-contents"></div>
		</div>
	</div>

	<br><br>
</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		get_decks();

		$('#deleted').on('change', get_decks);

		$('#upload_btn').on('click', function() {
			show_loading($('#upload_loading'));
			var form = document.forms.namedItem('upload_form');
			var formdata = new FormData(form);

			var upload_req = new XMLHttpRequest();
			upload_req.open("POST", "{{ url_for('decks_import') }}", true);
			upload_req.onload = function(oEvent) {
				$('#upload_loading').empty();
				if (upload_req.status == 200) {
					M.Modal.getInstance($('#upload_modal')).close();
					M.toast({html: "Successfully Uploaded"});
					get_decks();
				} else {
					M.toast({html: "An internal error occurred. Please try again later."});
				}
			};

			upload_req.send(formdata);
		});
	});

	function get_decks() {
		show_loading($('#deck-menu'));
		$.ajax({
			url: "{{ url_for('decks_get_all') }}",
			method: "GET",
			data: {'deleted': $('#deleted').prop('checked')}
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				$('#deck-details').addClass('hide');
				$('#list-row, #deck-menu').removeClass('hide');
				compile_handlebars('deck-template', '#deck-menu', data);

				$('.edit-deck').on('click', function() {
					show_details($(this).data().deckid);
				});
			}
		}).fail(ajax_failed);
	}

	function show_details(deckid) {
		show_loading($('#deck-details .deck-info'));
		$('#list-row, #deck-menu').addClass('hide');
		$('#deck-details').removeClass('hide');

		$.ajax({
			url: "{{ url_for('decks_get') }}",
			method: "GET",
			data: {'deckid': deckid}
		}).done(function(data) {
			if (data.error) M.toast({html: data.error});
			else {
				compile_handlebars('editdeck-template', '#deck-details .deck-info', data);
				
				$('#deck-details .deck-info #edit-deck-format').formSelect();
				if (data.deck.deleted) $('#deck-restore').removeClass('hide');
				else $('#deck-delete').removeClass('hide');

				$('#deck-back').on('click', get_decks);

				$('#deck-save').on('click', function() {
					$.ajax({
						url: "{{ url_for('decks_save') }}",
						method: "POST",
						data: {
							'deckid': deckid,
							'name': $('#edit-deck-name').val(),
							'formatid': $('#edit-deck-format').val()
						}
					}).done(function(data) {
						if (data.error) M.toast({html: data.error});
						else M.toast({html: 'Saved successfully.'});
					}).fail(ajax_failed);
				});

				$('#deck-delete').on('click', function() {
					$.ajax({
						url: "{{ url_for('decks_delete') }}",
						method: "POST",
						data: {'deckid': deckid}
					}).done(function(data) {
						if (data.error) M.toast({html: data.error});
						else get_decks();
					}).fail(ajax_failed);
				});

				$('#deck-restore').on('click', function() {
					$.ajax({
						url: "{{ url_for('decks_restore') }}",
						method: "POST",
						data: {'deckid': deckid}
					}).done(function(data) {
						if (data.error) M.toast({html: data.error});
						else get_decks();
					}).fail(ajax_failed);
				});
			}
		}).fail(ajax_failed);
	}
</script>
{% endblock %}