
/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/static/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.page-footer {
	padding-top: 0px;
}

#view_box {
	position: absolute;
	top: 10%;
	left: 25%;
}

.sort-head {
	cursor: pointer;
}

.set-icon {
	height: 20px;
	padding-right: 10px;
}

.card-name {
	cursor: pointer;
}

.card-hover {
	width: 185px;
	height: 255px;
	padding: 5px;
	display: block;
	position: absolute;
}

.card-hover:after, .card-hover:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.card-hover:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.card-hover:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #c9c9c9;
	border-width: 11px;
	margin-top: -11px;
}

.col > .btn {
	width: 100%;
}

#search-results {
	position: absolute;
	width: 100%;
}