
/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/static/fonts/material-icons.woff2) format('woff2');
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.page-footer {
	padding-top: 0px;
}

.col > .btn {
	width: 100%;
}

.bg-primary:not(.btn-flat) { background-color: #29B6F6; }
.bg-secondary:not(.btn-flat) { background-color: #384955; }
.bg-secondary.btn:hover { background-color: #9BAEBC; }
.bg-tertiary:not(.btn-flat) { background-color: #AF5990 !important; }
.bg-tertiary.btn:hover { background-color: #E88EC6; }

.collection-page #view_box {
	position: absolute;
	top: 10%;
	left: 25%;
}

.collection-page .sort-head {
	cursor: pointer;
}

.collection-page .chip .set-icon {
	padding-right: 0px;
	margin-top: 5px;
	margin-left: -3px;
	height: 30px;
	width: 30px;
}

.collection-page .set-icon {
	max-height: 20px;
	max-width: 30px;
	padding-right: 10px;
}

.collection-page .card-name {
	cursor: pointer;
}

.collection-page .card-hover {
	width: 185px;
	height: 255px;
	padding: 5px;
	display: block;
	position: absolute;
}

.collection-page .card-hover:after, .collection-page .card-hover:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.collection-page .card-hover:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}

.collection-page .card-hover:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #c9c9c9;
	border-width: 11px;
	margin-top: -11px;
}

.collection-page #search-results {
	position: absolute;
	width: 100%;
}

.collection-page #collection_total .badge {
	height: 30px;
	margin-top: 14px;
	margin-bottom: 14px;
	padding-top: 4px;
}

.decks-page .show-deleted {
	padding-top: 8px;
}

/*
Thank you to https://stackoverflow.com/a/19414020
for this trick to center the overflow image
*/
.decks-page #deck-menu .card-image-container {
	height: 140px;
	position: relative;
    overflow: hidden;
}

.decks-page #deck-menu .card-image-container img {
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

.decks-page #deck-menu .card-content {
	height: 120px;
}

.decks-page #deck-menu .card .deck-name,
.decks-page #deck-details .list-heading {
	font-size: 16px;
	font-weight: bold;
}

.decks-page #deck-menu .card .deck-format {
	font-style: italic;
}

.decks-page #deck-details a {
	cursor: pointer;
}