
DBHOST = 'localhost'
DBPORT = '5432'
DBNAME = 'reader'
DBUSER = 'postgres'
DBPASS = 'password'

TO_EMAIL = 'admin@email.com'
FROM_EMAIL = 'no-reply@email.com'

SECRETKEY = 'ictackCaugyotnatboovUst$wrekHalvOcafBiuvIpIcikbueGibKeybryes'
